<form ng-Submit="$ctrl.search()">
    <input type="text" ng-model="$ctrl.q" placeholder="Search for a recipe!" required />
    
    <div ng-repeat="(value, label) in $ctrl.dietaryRestrictions">
        <label>
            <span> {{label}} </span>
            <input 
            type="checkbox"
            ng-model="$ctrl.diet[value]" 
            />
        </label>
    </div>
    
    <p>
        <input 
        type="number" 
        ng-model="$ctrl.minCals"
        placeholder="Minimum Calories per Serving"
        />
    </p>
    
    
    <p>
        <input 
        type="maxCals" 
        ng-model="$ctrl.maxCals"
        placeholder="Maximum Calories per Serving"
        />
    </p>
    
    
    <button type="submit"> Search </button>
</form>